/* General */
body {
  background: url("https://www.transparenttextures.com/patterns/stardust.png") repeat black;
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  color: white;
}

/* Banner */
.banner {
  width: 100%;
  height: 120px;
  overflow: hidden;
  border: 2px solid #ff9900;
  margin-bottom: 10px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Layout */
.main-body {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

/* Left column (profile, pages, updates) */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Profile Card */
.profile-card {
  width: 220px;
  background: black;
  color: #00ff99;
  border: 2px solid #ff9900;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 0 15px #ff9900;
}

.profile-card .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 2px solid #00ff99;
  object-fit: cover;
}

.profile-card h2 {
  margin: 10px 0;
  color: #ffcc00;
  font-size: 16px;
  text-transform: uppercase;
}

/* Pages Box */
.pages-box {
  width: 220px;
  background: black;
  border: 2px solid #00ffff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 15px #00ffff;
}

.pages-box h2 {
  text-align: center;
  color: #00ffff;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.profile-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-card {
  margin: 5px 0;
}

.profile-card a {
  display: block;
  text-decoration: none;
  color: #ffcc00;
  background: #111;
  border: 1px solid #ffcc00;
  padding: 5px;
  text-align: center;
  transition: 0.3s;
}

.profile-card ul li a:hover {
  background: #ffcc00;
  color: black;
}

.pages-box a{
  color: #ff9900;
}

/* Updates Box */
.updates-box {
  width: 220px;
  background: black;
  border: 2px solid #ff9900;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 15px #ff9900;
  color: #ffcc00;
  font-size: 14px;
}

.updates-box h2 {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #ffcc00;
  text-transform: uppercase;
}

.updates-box iframe {
  width: 100%;
  height: 150px;
  border: none;
  background: black;
  color: white;
}

/* Content Box */
.content {
  flex: 1;
  background: black;
  border: 2px solid #00ffff;
  border-radius: 4px;
  box-shadow: 0 0 15px #00ffff;
  padding: 0;
}

.content iframe {
  width: 100%;
  height: 700px;
  border: none;
  background: black;
  color: white;
}
